<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="url" value="http://192.168.1.99:8182/SparkAPI/v1/calls" />
        <add key="userName" value="username"/>
        <add key="password" value="password"/>
        <add key="number" value="8750XXXXXX"/>
    </appSettings>
</configuration>
